body{
  color: rgb(0, 0, 0);
  /*background-color: #18FF13;*/
}

.seccion{
  width: 360px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: chartreuse;
}
/*
.menu{
  display: flex;
  align-items: center;
  width: 360px;
  background-color: blanchedalmond;
  height: 50px;
  bottom: 0px;
}
*/
.index{
  display:flex;
  justify-content: center;
  align-content: center;
  width: 360px;
  height: 600px;
  background: rgb(107,179,159);
  background: linear-gradient(0deg, rgba(107,179,159,1) 0%, rgba(224,236,222,1) 100%);
}

#mapa{
  transform: scale(0.5);

}

.mapa1{
  display: flex;
  align-content: flex-start;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(207, 223, 206);
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

.nav_links{
  list-style: none;
}

.nav_links li{
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a{
  transition: all 0.3s ease 0s;
}

button{
  padding: 9px 25px;
  background-color: red;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

